.root {
    --nav-width: 20ch;
    --aside-width: 30ch;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr var(--aside-width);
    min-height: 100%;
    font-family: ui-monospace, monospace;
    background-color: var(--bg-default);
    color: var(--fg-default);
}

.nav,
.aside {
    background-color: var(--bg-panel);
    color: var(--fg-default);

    display: flex;
    flex-direction: column;
    padding: var(--size-2);
    overflow: auto;
}

.nav {
    border-right: var(--size-1) solid var(--fg-subtle);
}

.main {
    padding: var(--size-4);
}

.aside {
    border-left: var(--size-1) solid var(--fg-subtle);
}
