.empty {
    color: var(--lvr-color-fg-disabled);
    font-size: var(--lvr-font-size-0);
}

.heading {
    font-family: var(--lvr-font-family-heading);
    font-size: var(--lvr-font-size-4);
    font-weight: var(--lvr-font-weight-7);
    margin-bottom: var(--lvr-size-1);
}

.badge {
    font-size: var(--lvr-font-size-0);
    font-weight: var(--lvr-font-weight-4);
    padding: var(--lvr-size-1) var(--lvr-size-2);
    border-radius: var(--lvr-radius-1);
}

.badgeDark {
    background-color: var(--lvr-color-bg-accent);
    color: var(--lvr-color-fg-subtle);
}

.badgeLight {
    background-color: var(--lvr-color-bg-contrast);
    color: var(--lvr-color-fg-contrast);
}

.collection {
    font-size: var(--lvr-font-size-0);
    color: var(--lvr-color-fg-subtle);
}
