@import "tailwindcss";

/* Open Props */
@import "open-props/normalize";
@import "open-props/sizes";
@import "open-props/borders";
@import "open-props/fonts";
@import "open-props/easings";
@import "open-props/aspects";
@import "open-props/zindex";
@import "open-props/gradients";
@import "open-props/durations";

/* Fonts */
@import "@fontsource-variable/space-grotesk";
@import "@fontsource-variable/recursive/full.css";

/* Typo */
@import "./components/typo/variants.css";

:root {
    --font-heading: "Space Grotesk Variable", sans-serif;
    --font-body: "Recursive Variable", sans-serif;
    --font-mono: "Recursive Variable", monospace;
}

body {
    font-family: var(--font-body);
}
